@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #FAFBFC;
    --textlow: #6B7280;
    --textnormal: #1F2937;
  }

  .dark {
    --bg: #0F172A;
    --textlow: #8A929D;
    --textnormal: #E2E8F0;
  }
}

@media (max-height: 750px) {
  .hide-below-750 {
    display: none;
  }
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
